<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Happy Hours</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link href="@Url.Content("~/Content/css/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/pure.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/default.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/javascript/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/javascript/require.js"></script>
    <script type="text/javascript" src="~/Scripts/RequireInit/requireConfig.js"></script>

    <!-- App design -->
    <link href="@Url.Content("~/Content/AppDesign/main.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderSection("featured", required: false)
    <section class="content-wrapper main-content clear-fix">
        @RenderBody()
    </section>
    <div id="app_container"></div>
    <script type="text/javascript" src="~/Scripts/RequireInit/main.js"></script>
</body>
</html>
