@{
    ViewBag.Title = "À propos de";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Indiquez des informations supplémentaires à l'aide de cette zone.
    </p>

    <p>
        Indiquez des informations supplémentaires à l'aide de cette zone.
    </p>

    <p>
        Indiquez des informations supplémentaires à l'aide de cette zone.
    </p>
</article>

<aside>
    <h3>Titre à part</h3>
    <p>
        Indiquez des informations supplémentaires à l'aide de cette zone.
    </p>
    <ul>
        <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
        <li>@Html.ActionLink("À propos de", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>